<div id="annuvin">
  <%= image_tag("Hex3x3wood.bmp", :alt => "3x3 hex board") %>
  <div id="blurb-container">
    <div id="blurb-images">
      <%= image_tag("neutral.png", class: "face", id: "neutral") %>
      <%= image_tag("anguished.png", class: "face", id: "anguished") %>
    </div>
    <div id="blurb-image">
      <%= image_tag("smiling.png", class: "face", id: "smiling") %>
    </div>
    <div id="blurb">Welcome to Annuvin!<br>Click on a piece to move.</div>
  </div>

</div>
