<div id="gomoku">
  <div>
    <%= image_tag("go.png", id: "gomoku-board", alt: "gomoku board") %>
  </div>
  <div id="blurb-container">
    <div id="blurb-images">
      <%= image_tag("neutral.png", class: "face", id: "neutral") %>
      <%= image_tag("anguished.png", class: "face", id: "anguished") %>
    </div>
    <div id="blurb-image">
      <%= image_tag("smiling.png", class: "face", id: "smiling") %>
    </div>
    <div id="blurb">Welcome to Gomoku!<br>
    Click on an intersection to drop a piece there.</div>
  </div>
</div>
