<h1>Games#index</h1>
<ul class= "menu">
  <% @game_list.each do |name, icon| %>
    <li class='game-selection'>
      <%= image_tag(icon, alt: name, class: "game-icon") %>
      <%= link_to name, { controller: 'games', action: name.downcase }, class: "game-label" %>
    </li>
  <% end %>

</ul>
