body {
  /*background-color: darkgreen;*/
}


.board {
  /*background-color: tan;*/
  /*border: 1px solid SaddleBrown;*/
}

.highlight {
  opacity: 0.2;
  background-color: brown;
}

.piece {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40;
  width: 40;
  margin: auto;
}

#blurb {
  font-family: sans-serif;
  font-size: 2em;
}